.list{
	width: 100%;
	height: 100%;
	display: table;
 	clear: both;
}

.list > div {
	float: left;
	display: inline-block;
	position: relative;
}

#loaderBox{
	display: block;
	position: relative;
	text-align: center;
	width: 100%;
	height: 420px;
}

.loader {
	margin-top: 150px;
	margin-left: 140px;
	border: 8px solid #f3f3f3; /* Light grey */
	border-top: 8px solid #5781CC; /* Blue */
	border-radius: 50%;
	width: 45px;
	height: 45px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}