*{
  font-family: 'Helvetica';
  color: #F14475 ;
  font-size: 16px;
  background-color: transparent;
  /* second-color: #232526*/
}


@font-face {
 font-family: 'Montserrat';
 src: url(‘chrome-extension://__MSG_@@extension_id__/resources/fonts/Montserrat-Regular.ttf’); 
}

@font-face {
 font-family: 'Helvetica';
 src: url("chrome-extension://__MSG_@@extension_id__/resources/fonts/Helvetica.ttf"); 
}

html,body {

  background: #070D1F;
  border-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#main{
  text-align: center; 
}

#main_inner{
  overflow-y: scroll;
  background: #181D2E ;
  height:480px;
  min-width:340px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#main_inner::-webkit-scrollbar {
  display: none;
}

/*F14475   5781CC*/
#AppName{
  font-size: 24px;
  font-weight: 800;
  display: inline-block;
  color: #F14475 ;
}

#nav {
  height: 45px;
  display: block;
}

#DatePicker {
  display: inline-block;
  width: 65%;
  float: left;
  height: 25px;
  position: relative;
  margin-left:10px;
  margin-top: 15px;
  text-align: center;

}
#date{
  border: 0 !important; 
  padding:0 !important; 
  }

#container {
}

#warningBox{
  margin: 10px;
  font-weight: 400;
}

.fa {
  font-size: 21px !important;
}

.fa-refresh{
  padding: 15px;
  float: left;
}

.fa-calendar-plus-o{
  padding: 15px;
  float: right;
}

.fa-home{
  padding: 10px;
  float: right;
}

.fa-google-plus{
  margin-bottom:15px;
  margin-left:15px;
}

#Developed{
  position: relative;
}

a, #Developed > *{
  text-align: center;
  font-size: 10px;
}