/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  width: 100%; /* Set a default minimum width */
  margin: 0px;
  background-color: #F14475; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 10px !important; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 0px;
  font-size: 10px;
  right: 0px;
  bottom: 0px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


@keyframes fadein {
  from {bottom: -60px; opacity: 0.8;}
  to {bottom: 0px; opacity: 0.8;}
}


@keyframes fadeout {
  from {bottom: 0px; opacity: 0.8;}
  to {bottom: -60px; opacity: 0.8;}
}